//colors
$color-primary: #2aa83b;
$color-secondary: #f32f2f;
$color-gray: #747474;
$color-black: #000000;
$color-white: #ffffff;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;
$grid-gap: 30px;

//font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.8;
$font-size-lg: $base-font-size * 2;
