@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");

.title {
  margin: $base-margin 0;
  font-family: "Aoboshi One", serif;
  font-size: $font-size-lg;
}

.description {
  font-size: $base-font-size;
}
