.card-container {
  position: relative;
  border: 1px solid #ccc;
  flex: 0 1 calc(34% - 30px);
  img {
    width: 100%;
    object-fit: cover;
  }
}

.card-description {
  padding: $base-padding;

  .price {
    margin-top: $base-margin;
    font-weight: bold;
  }

  .price-reduced {
    margin-left: 0.5rem;
    font-weight: 200;
    font-size: $font-size-sm;
    text-decoration: line-through;
    text-decoration-color: $color-gray;
    color: $color-gray;
  }
}

.tag {
  position: absolute;
  top: 30px;
  right: 0;
  color: $color-white;
  padding: $base-padding * 0.2 $base-padding * 0.5;

  &.new {
    background-color: $color-primary;
  }

  &.deal {
    position: absolute;
    top: 65px;
    background-color: $color-secondary;
  }
}
